@media only screen and (min-width: 600px) {
    .news-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .news-item-module img {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .news-item-module .skeleton {
        height: 300px;
    }

    .news-item {
        padding-bottom: 2rem;
    }

    .news-item-date,
    .news-item-description {
        font-size: 1.2rem;
    }

    .news-item-date {
        padding-top: 1.2rem;
    }
    
    .news-item-title {
        font-size: 1.6rem;
    }

}

@media only screen and (min-width: 1000px) {
    .news-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .news-item-module * {
        font-size: 1.4rem;
    }

    .filter-category-label,
    .rss-feed-input {
        font-size: 1.4rem;
    }

    .news-item-module h2:not(.news-item-module-heading),
    .news-item-module h3,
    .news-item-module h4,
    .news-item-module h5,
    .news-item-module h6,
    .news-item-module p:has(strong) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 1500px) {

    .header {
        margin-bottom: 3rem;
    }

    .rss-feeds-container {
        margin-bottom: 2.4rem;
    }

    .subheading {
        font-size: 1.8rem;
    }

    .filter-category-label,
    .rss-feed-input {
        font-size: 1.6rem;
    }

    .rss-feed-button {
        width: 6rem;
        font-size: 1.6rem;
    }

    .news-item-module {
        max-width: 900px;
    }

    .news-item-module * {
        font-size: 1.5rem;
    }

    .news-item-module h2:not(.news-item-module-heading),
    .news-item-module h3,
    .news-item-module h4,
    .news-item-module h5,
    .news-item-module h6,
    .news-item-module p:has(strong) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    }

    .news-item-module .news-item-module-close-button {
        width: 2.4rem;
        height: 2.4rem;
        margin-bottom: 1.5rem;
    }

    .news-item-module .image-skeleton {
        height: 400px;
        margin-bottom: 2rem;
    }

    .news-item-module .skeleton.heading-skeleton {
        height: 30px;
    }
    
}