* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-size: 62.5%;
}

html {
    --news-item-text-padding: 1.5rem;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #a7a7a7;
}


.max-width-container {
    max-width: 1200px;
    margin: 0 auto;
}

.news-items-container {
    padding: 0 1.6rem;
}

.news-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}


.skeleton {
    display: none;
}

.loading .skeleton {
    display: block;
    background: linear-gradient(
      90deg,
      hsl(210, 15%, 88%),
      hsl(210, 15%, 95%),
      hsl(210, 15%, 88%)
    );
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}  

@keyframes skeleton {
    from {
      background-position: -100% 0;
    }
    to {
      background-position: 100% 0;
    }
  }

