* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-size: 62.5%;
}

html {
    --news-item-text-padding: 1.5rem;
}

body {
    padding-bottom: 4rem;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #a7a7a7;
}

*:focus-visible {
    outline: 1px solid #62C1BB;
    outline-offset: -1px;
}

.header {
    padding: 0 1.6rem;
    margin-bottom: 1.5rem;
}

.heading {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.filter-categories-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 1.2rem;
}


.subheading {
    display: inline-block;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    padding-right: 1.8rem;
}

.subheading::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url("/images/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 200ms;
}


.rss-feeds-container {
    margin-bottom: 2rem;
}

.add-rss-feed-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}


.rss-feed-button {
    border: 1px solid #EFF5FF;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #62C1BB;
    background-color: rgba(98, 193, 187, 0.1);
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 200ms;
}

.rss-feed-input-delete-button:hover,
.rss-feed-input-delete-button:active {
    background-color: rgba(193, 98, 142, 0.3);
}

.add-new-rss-feed-button:hover,
.add-new-rss-feed-button:active {
    background-color: #62C1BB;
    color: white;
}

.rss-feed-input-delete-button {
    padding-left: 2rem;
    background-color: rgba(193, 98, 142, 0.1);
    background-image: url("/images/delete.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.rss-feeds-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.rss-feed-input-container {
    display: flex;

}

.rss-feed-input {
    width: 100%;
    border: 1px solid #EFF5FF;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-container,
.rss-feeds-container {
    max-height: 4.5rem;
    border: 1px solid #EFF5FF;
    overflow: hidden;
    transition: max-height 200ms;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.filter-container.open,
.rss-feeds-container.open {
    max-height: max(1000px, 100%);
}



section.open .subheading::after {
    transform: translateY(-50%) rotateZ(180deg);
}

.filter-category-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.filter-category-label {
    font-size: 1.2rem;
    padding-left: 2.4rem;
}

.filter-category-input {
    border: 1px solid #EFF5FF;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.filter-category-input + label::before {
    box-sizing: border-box;
    border: 1px solid #EFF5FF;
    border-radius: 3px;
	content: "";
	height: 1.7rem;
	left: 0;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	width: 1.7rem;
}

.filter-category-input + label::after {
	content: "";
	border-left: 0;
	border-top: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	transition: opacity 0.1s ease-in-out;
	width: 1.7rem;
    height: 1.7rem;
    background-image: url("/images/tick.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.filter-category-input:checked + label::after {
    opacity: 1;
}

.max-width-container {
    max-width: 1200px;
    margin: 0 auto;
}

.news-items-container {
    padding: 0 1.6rem;
}

.news-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.news-feed-container.news-items:not(:last-of-type) {
    margin-bottom: 10rem;
}


.skeleton {
    display: none;
}

.loading .skeleton {
    display: block;
    background: linear-gradient(
      90deg,
      hsl(210, 15%, 88%),
      hsl(210, 15%, 95%),
      hsl(210, 15%, 88%)
    );
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}  

@keyframes skeleton {
    from {
      background-position: -100% 0;
    }
    to {
      background-position: 100% 0;
    }
  }

