.module-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    visibility: hidden;
}

.module-container.open {
    visibility: visible;
}

.news-item-module {
    visibility: hidden;    
    position: absolute;
    width: 90%;
    height: 90vh;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s ease;
    padding: var(--news-item-text-padding);
    overflow-y: scroll;
    max-width: 700px;
}

.news-item-module * {
    font-size: 1.2rem;
}

.news-item-module h2:not(.news-item-module-heading),
.news-item-module h3,
.news-item-module h4,
.news-item-module h5,
.news-item-module h6,
.news-item-module p:has(strong) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.news-item-module .news-item-module-close-button {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
    background-color: transparent;
    background-image: url("/images/right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}

.news-item-module img {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.news-item-module img:not(.news-item-module-image) {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.news-item-module .news-item-module-image {
    margin-top: 0;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2rem;
}

.news-item-module-heading {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.news-item-module .skeleton {
    display: none;
    margin-bottom: 0.8rem;
}

.news-item-module .image-skeleton {
    margin-bottom: 1.5rem;
}

.news-item-module .skeleton.heading-skeleton {
    height: 20px;
}

.news-item-module .heading-skeleton:nth-of-type(3) {
    width: 80%;
}

.module-container.loading .news-item-module-image {
    display: none;
}

.module-container.loading .skeleton {
    display: block;
}

.module-container.open .news-item-module {
    visibility: visible;
    top: 50px;
}